<include file="Public:header"/>
<div class="col-sm-12 widget-container-span">
	<div class="widget-box transparent">
		<div class="widget-body">
			<div class="widget-main padding-12 no-padding-left no-padding-right">
				<div class="tab-content padding-4">
					<div id="home1" class="tab-pane in active">
						<div class="row">
							<div class="col-xs-12 no-padding-right">
								<div class="table-responsive">
								
							    <a target="_blank" href="__CONTROLLER__/quickScan">全表快速扫描（不推荐）</a>
							    <a target="_blank" href="__CONTROLLER__/pageScan">分页扫描（推荐）</a>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		

	</div>
</div>